/* Color Scheme */
:root {
    --primary-color: #27ae60; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --text-color: #333; /* Dark Gray */
    --modal-background-color: #fefefe;  /* Light White */
    --overlay-color: rgba(0, 0, 0, 0.6);  /* Semi-Transparent Black */
    --button-hover-color: #1abc9c;  /* Lighter Green */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #ecf0f1; /* Light Gray */
    color: var(--text-color);
}

h1 {
    text-align: left;
    color: var(--primary-color);
}

h2, h3, th {
    color: var(--primary-color);
}

h3, th {
    font-style: italic;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
}

button, input[type="button"] {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, input[type="button"]:hover {
    background-color: #27ae60; /* Darker Green on hover */
}

button:disabled, input[type="button"]:disabled {
    background-color: #bdc3c7; /* Light Gray */
    cursor: default;
}

.form-container {
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
}

/* Additional styling for the cloned forms */
.clonedForm {
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
    width: 50vw;
}

input, textarea {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

textarea {
    height: 35px;
    width: 100%;
}


input:focus, textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

#toetsen {
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
}

.velden {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.velden form {
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
}

#percentages .weging-container {
    display: flex;
    align-items: center;
}

#percentages .weging-container label {
    margin-right: 10px;
}

#percentages .inputField, #percentages .showField {
    width: 50px; /* Of een andere breedte naar keuze */
    margin-right: 5px;
}
 
.error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center; /* Zorgt voor verticale centrering */
    justify-content: start; /* Lijnt items uit aan de start (links), kan aangepast worden naar wens */
}

nav h1  {
    margin: 0; /* Verwijdert de standaard marge */
    /* Voeg hier eventueel andere stijlen voor h1 toe */
}

nav > *:not(:last-child) {
    margin-right: 10px; /* Voegt 10px marge toe aan de rechterkant van elk element, behalve het laatste */
}

#controls {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--overlay-color);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--modal-background-color);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%; /* Smaller width for a more centered look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.modal button {
    margin: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.selectField {
    margin-right: 10px;
}

label, .selectField {
    display: inline-block;
    margin-right: 10px;
}

.explanationDiv {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out, visibility 1s;
    visibility: hidden;
}

.explanationDiv.visible {
    /* Gebruik een geschatte max-height die groter is dan de verwachte inhoud */
    max-height: 200px; /* Pas dit aan op basis van de verwachte inhoudsgrootte */
    visibility: visible;
}

.autoExpandTextarea {
    overflow-y: hidden;
    resize: none;
    min-height: 35px;
    height: 35px; /* Verwijder 'height: auto;' aangezien de textarea automatisch groeit */
}

#addToolModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000; /* Zorg dat het boven andere elementen verschijnt */
    display: none; /* Verborgen tot het geactiveerd wordt */
}

/* Achtergrond overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Onder de modal, maar boven andere elementen */
    display: none; /* Verborgen tot het geactiveerd wordt */
}

.toolsSelect, option {
    max-width: 50vw;
}

ul.selectedTools {
    width: 100%; /* Of een specifieke breedte */
}

ul.selectedTools li {
    white-space: normal; /* Zorgt ervoor dat de tekst normaal omloopt */
    word-wrap: break-word; /* Breekt lange woorden af zodat ze binnen de breedte passen */
    overflow-wrap: break-word; /* Alternatief voor word-wrap, voor betere ondersteuning */
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box; /* Include padding and border in width */
}

#dynamicButtons button, .modal button {
    margin: 10px;
}

.flex {
    display: flex;
	align-items: center;
}

button {
    margin-left: 20px;
}

.plus {
    margin-left: 0px;
    margin-top: 20px;
}

.periodeContainer {
    margin-bottom: 15px;
}

.periodeContainer h3 {
    margin: 0 0 10px 0;
}

#hulpmiddelenform input {
    width: 350px;
}

#VerantwoordelijkeDocentenPta div {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  #VerantwoordelijkeDocentenPta label {
    margin-right: 10px;
    width: 200px;
  }
  
  #VerantwoordelijkeDocentenPta input[type="text"] {
    margin-right: 10px;
    padding: 5px;
  }
  
  .pta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.pta-vakken-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pta-vakken-toevoegen, .pta-vakken-lijst, .pta-docenten-accounts, .container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.pta-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="text"], select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pta-button, .saveButton {
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
}

.pta-button:hover, .saveButton:hover {
    opacity: 0.9;
}

.feedback.error {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    color: #dc3545; /* Rood voor foutmeldingen */
}

.feedback.success {
    color: #28a745; /* Groen voor succesmeldingen */
}

.pta-vakken-toevoegen .form-row {
    display: flex;
    align-items: center;
}

.pta-vakken-toevoegen .form-row label {
    flex-shrink: 0;
    width: 150px; /* Pas deze breedte aan naar de breedte van het langste label */
}

.pta-vakken-toevoegen .form-row input, 
.pta-vakken-toevoegen .form-row select {
    flex-grow: 1;
    max-width: 200px;
}

.pta-wrapper input {
    width: 200px;
    max-width: 200px;
}

input::placeholder {
    color: rgb(151, 151, 151); /* Maakt de placeholder-tekst grijzer */
    font-style: italic; /* Maakt de placeholder-tekst schuingedrukt */
  }
  