/* Color Scheme */
:root {
    --primary-color: #27ae60;
    /* Blue */
    --secondary-color: #2ecc71;
    /* Green */
    --text-color: #333;
    /* Dark Gray */
    --modal-background-color: #fefefe;
    /* Light White */
    --overlay-color: rgba(0, 0, 0, 0.6);
    /* Semi-Transparent Black */
    --button-color:#2ecc71;
    /* Lighter Green */
    --button-hover-color:#276b43;
    /* Lighter Green */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 50px 10px 100px;
    background-color: #ecf0f1;
    /* Light Gray */
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 10px; /* Of een andere passende waarde */
}

select {
    background-color: white;
}

h1 {
    text-align: left;
    color: var(--primary-color);
}

h2 {
    margin-top: 20px;
    color: var(--primary-color);
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
}

button,
input[type="button"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover,
input[type="button"]:hover {
    background-color: var(--button-hover-color);
    /* Darker Green on hover */
}

button:disabled,
input[type="button"]:disabled {
    background-color: #bdc3c7;
    /* Light Gray */
    cursor: default;
}

.form-container {
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
}

/* Additional styling for the cloned forms */
.clonedForm {
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
    width: 50vw;
}

input,
textarea {
    transition: border-color 0.3s ease;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.toets {
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
}

.velden {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.velden form {
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
}

#percentages .weging-container {
    display: flex;
    align-items: center;
}

#percentages * {

    font-size: 16px;
}

#percentages .weging-container label {
    margin-right: 10px;
}

#percentages .inputField,
#percentages .showField {
    width: 50px;
    /* Of een andere breedte naar keuze */
    margin-right: 5px;
}

.error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    /* Zorgt voor verticale centrering */
    justify-content: start;
    /* Lijnt items uit aan de start (links), kan aangepast worden naar wens */
}

nav h1 {
    margin: 0;
    /* Verwijdert de standaard marge */
    /* Voeg hier eventueel andere stijlen voor h1 toe */
}

nav>*:not(:last-child) {
    margin-right: 10px;
    /* Voegt 10px marge toe aan de rechterkant van elk element, behalve het laatste */
}

#controls {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--overlay-color); /* Zorg voor een semi-transparante overlay voor focus op de modal */
    padding-top: 60px;
}

.modal-content {
    background-color: var(--modal-background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Maak de modal responsiever */
    max-width: 500px; /* Maximale breedte voor grotere schermen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow voor diepte */
    font-size: 16px; /* Verbeterde leesbaarheid */
}

.modal input {
    width: calc(100% - 20px); /* Volledige breedte met padding correctie */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Zorgt ervoor dat padding niet de breedte beïnvloedt */
}

.modal button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: var(--button-hover-color); /* Feedback bij hover */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.selectField {
    margin-right: 10px;
    background-color: white;
}

label,
.selectField {
    display: inline-block;
    margin-right: 10px;
}

.explanationDiv {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out, visibility 1s;
    visibility: hidden;
    font-size: 14px;
    font-style: italic;
}

.explanationDiv.visible {
    /* Gebruik een geschatte max-height die groter is dan de verwachte inhoud */
    max-height: 200px;
    /* Pas dit aan op basis van de verwachte inhoudsgrootte */
    visibility: visible;
}

.autoExpandTextarea, .stofomschrijving {
    width: 100%;
    border: 1px solid #ccc;
    overflow-y: auto; /* Verbergt de scrollbar */
    max-height: 90px;
    resize: none; /* Voorkomt dat de gebruiker de grootte aanpast */
    box-sizing: border-box; /* Inclusief padding en border in de totale breedte en hoogte */
}

.autoExpandTextarea:focus, .stofomschrijving:focus {
    outline: none;
    border-color: var(--primary-color);
}

#addToolModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Zorg dat het boven andere elementen verschijnt */
    display: none;
    /* Verborgen tot het geactiveerd wordt */
}

/* Achtergrond overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /* Onder de modal, maar boven andere elementen */
    display: none;
    /* Verborgen tot het geactiveerd wordt */
}

.toolsSelect,
option {
    max-width: 50vw;
}

ul.selectedTools {
    width: 100%;
    /* Of een specifieke breedte */
}

ul.selectedTools li {
    white-space: normal;
    /* Zorgt ervoor dat de tekst normaal omloopt */
    word-wrap: break-word;
    /* Breekt lange woorden af zodat ze binnen de breedte passen */
    overflow-wrap: break-word;
    /* Alternatief voor word-wrap, voor betere ondersteuning */
}

#dynamicButtons {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 10px;
}

#dynamicButtons button,
.modal button {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    max-height: 42px;
    height: 42px;
    white-space: nowrap;
}

#vwoVelden, #havoVelden, #mavoVelden {
    display: none;
}
.searchModal {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    position: fixed;
    top: 0; /* Iets hoger dan eerder */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    box-sizing: border-box;
}


.searchModal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px; /* Minder breed */
    min-height: 65vh; /* Minimale hoogte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.searchModal-content h2, .searchModal-content input, .searchModal-content ul {
    margin-bottom: 15px; /* Zorgt voor ruimte tussen elementen */
}

.searchModal-content .button-container {
    margin-top: auto; /* Zorgt ervoor dat de knoppen naar onderen geduwd worden */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.searchModal-content h2 {
    text-align: center;
}

.searchModal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.searchModal-content .input-ul-container {
    flex-grow: 1; /* Neemt beschikbare ruimte in beslag */
    display: flex;
    flex-direction: column;
}

.searchModal-content ul {
    list-style: none;
    margin-top: 0px; /* Ruimte tussen input en ul */
    padding: 0;
    overflow-y: auto;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.searchModal-content ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.searchModal-content ul li:hover {
    background-color: #f7f7f7;
}

.searchModal-content ul li.selected {
    background-color: #e9ecef;
    color: #495057;
}

.tabContainer {
    display: flex;
    flex-direction: row;
}

.tabs {
    margin-top: 50px;
    max-width: max-content;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 1px;
    display: flex;
    justify-content: space-between; /* Dit zorgt voor ruimte tussen de tekst en het icoon */
    align-items: center; /* Dit centreert de items verticaal */    
}

.tab:hover {
    background-color: lightgrey;
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: var(--primary-color);
    color: white;
}

.tab.active:hover {
    background-color: var(--button-hover-color);
    color: white;
}

.tabContent {
    flex: 3;
    width: 50vw;
    max-height: 80vh;
    min-height: 80vh;
    height: auto;
    overflow-y: visible; /* Zorgt ervoor dat de inhoud kan groeien zonder een scrollbar */
}

.contentPane {
    min-height: 80vh;
    max-height: max-content;
    height: auto;
    overflow-y: visible; /* Zorgt ervoor dat de inhoud kan groeien zonder een scrollbar */
    padding: 10px;
    margin-left: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 553px;
    min-width: 553px;
    margin-bottom: 20px;
}

#right {
    display: flex;
    flex-direction: column;
    width: 100%
}

.toetsContainer label {
    display: block;
    margin-bottom: 5px;
}

.toetsContainer .afnamevormSelect,
.toetsContainer .tijdSelect {
    width: 100px;
}

.toetsContainer input[type="text"], 
.toetsContainer .autoExpandTextarea, 
.toetsContainer select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.toetsContainer input[type="text"]:focus, 
.toetsContainer .autoExpandTextarea:focus, 
.toetsContainer select:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.toetsContainer .explanationDiv {
    display: none;
}

.toetsContainer .visible {
    display: block;
}

.toetsContainer .hulpmiddelen {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.toetsContainer .hulpmiddelen li {
    margin-bottom: 5px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.flexItem {
    flex: 1;
    padding: 0 10px;
}

.flexItem:first-child {
    padding-left: 0;
}

.flexItem:last-child {
    padding-right: 0;
}

.toetsContainer input:disabled, 
.toetsContainer .autoExpandTextarea:disabled, 
.toetsContainer select:disabled {
    background-color: #f8f8f8;; /* Een lichtere achtergrondkleur voor disabled velden */
    color: var(--text-color); /* Een lichtere tekstkleur voor disabled velden */
    cursor: not-allowed; /* Een cursor die aangeeft dat het veld niet bewerkbaar is */
    border: 1px solid #9b9b9b; /* Een lichtere rand voor disabled velden */
    opacity: 1;
}

select.inputField.afnamevormSelect:disabled,
select.inputField.tijdSelect:disabled {
    width: 200px;
}

.flexOnderElkaar {
    display: grid;
    grid-template-columns: min-content auto; /* Eerste kolom past zich aan aan breedte van label */
    gap: 10px; /* Ruimte tussen kolommen */
    align-items: start; /* Items uitlijnen aan de bovenkant */
}

.flexNaastElkaar {
    display: contents; /* Gebruikt de grid-layout van de ouder */
}

.flexItemNaastElkaar {
    grid-column: 2; /* Plaatst dit element in de tweede kolom */
}

.edit-icon {
    color: var(--secondary-color);
    cursor: pointer;
    margin-left: 8px;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: var(--button-hover-color);
}

.icon.delete-icon {
    cursor: pointer;
    padding-left: 10px; /* Afstand tussen tekst en icoon */
    opacity: 0; /* Icoon standaard onzichtbaar */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.tab:hover .icon.delete-icon {
    opacity: 1; /* Maak het icoon zichtbaar als erover de tab gehoverd wordt */
}

.icon.delete-icon:hover {
    color: red;
    transform: scale(1.3); /* Vergroot het icoon bij hover */
}

.tab:hover {
    background-color: lightgrey;
    transition: background-color 0.3s ease;
}

.toevoegen-knop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 3px #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    margin: 4px;
    display: inline-block;
    vertical-align: middle;
    background:white;
}
.circle:hover{
    cursor: pointer;
    transform: scale(1.3); /* Vergroot het icoon bij hover */
    transition: transform 0.3s ease;
}
.circle:before,
.circle:after{
    content:'';position:absolute;top:0;left:0;right:0;bottom:0;
}
/* PLUS */
.circle.plus:before,
.circle.plus:after {
    background: var(--primary-color);
    box-shadow: 1px 1px 1px #ffffff9e;
}
.circle.plus:before{
    width: 2px;
    margin: 3px auto;
}
.circle.plus:after{
    margin: auto 3px;
    height: 2px;
    box-shadow: none;
}

.jaarEnWeek {
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
    margin-right: 10px;
}

.naastElkaar {
    display: flex;
}

.toetsContainer .weekSelect {
    width: 70px;
}

#week {
    margin-left: 10px;
    width: 30px;
}

.hulpmiddelen li:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.nieuwHulpmiddelInput {
    display: none;
}

.overzichtTabel {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--modal-background-color);
    color: var(--text-color);
    border: 1px solid var(--overlay-color);
}

.overzichtTabel th,
.overzichtTabel td {
    text-align: left;
    padding: 8px 16px;
    border-bottom: 1px solid var(--overlay-color);
}

.overzichtTabel th {
    background-color: var(--primary-color);
    color: white;
}

.overzichtTabel tr:hover {
    background-color: var(--overlay-color);
}

.overzichtTabel tr:nth-child(even) {
    background-color: #f2f2f2;
}

.overzichtTabel tr:nth-child(odd) {
    background-color: #fdfdfd;
}

.overzichtTabel td {
    position: relative;
}

#sorteerKnop {
    margin-top: 20px;
}